.div1 {
    border: 2px solid black;
    width: 700px;
    margin-left: 300px;
    padding: 30px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

.product_name,
.product_price {
    width: 300px;
    padding: 7px;
    margin-top: 5px;
}

.product_details {
    width: 500px;
    height: 200px;
    margin-top: 10px;
}

.product_image {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.insert {
    border: 1px solid black;
    margin-left: 250px;
    border-radius: 5px;
}